version: '3.7'

services:
  web:
    # php 8.3.0 RC5
    #image: 8ct8pus/apache-php-fpm-alpine:php8.3.0RC5
    # php 8.2.11 with virtual hosts with selfsign
    image: 8ct8pus/apache-php-fpm-alpine:2.1.3
    # php 8.2.10 with virtual hosts with selfsign
    #image: 8ct8pus/apache-php-fpm-alpine:2.1.2
    # php 8.2.9 with virtual hosts with selfsign
    #image: 8ct8pus/apache-php-fpm-alpine:2.1.1
    # php 8.2.8 with virtual hosts with selfsign
    #image: 8ct8pus/apache-php-fpm-alpine:2.1.0
    # php 8.2.8 with virtual hosts
    #image: 8ct8pus/apache-php-fpm-alpine:2.1.0
    # php 8.2.7 with virtual hosts
    #image: 8ct8pus/apache-php-fpm-alpine:2.0.12
    # php 8.2.5 with virtual hosts
    #image: 8ct8pus/apache-php-fpm-alpine:2.0.11
    # php 8.2.4 with virtual hosts
    #image: 8ct8pus/apache-php-fpm-alpine:2.0.10
    # php 8.2.3 with virtual hosts
    #image: 8ct8pus/apache-php-fpm-alpine:2.0.9
    # php 8.2.2 with virtual hosts
    #image: 8ct8pus/apache-php-fpm-alpine:2.0.8
    # php 8.2.1 with virtual hosts
    #image: 8ct8pus/apache-php-fpm-alpine:2.0.7
    # php 8.2.0 with virtual hosts
    #image: 8ct8pus/apache-php-fpm-alpine:2.0.6
    # php 8.1.12 with virtual hosts
    #image: 8ct8pus/apache-php-fpm-alpine:2.0.5
    # php 8.2.0 RC6
    #image: 8ct8pus/apache-php-fpm-alpine:1.4.4
    # php 8.1.10
    #image: 8ct8pus/apache-php-fpm-alpine:1.3.6
    # php 8.0.17
    #image: 8ct8pus/apache-php-fpm-alpine:1.2.8
    # php 7.4.21
    #image: 8ct8pus/apache-php-fpm-alpine:1.1.3
    # development image
    #image: apache-php-fpm-alpine:dev
    hostname: testing
    container_name: web
    ports:
      - 80:80
      - 443:443
    volumes:
      # development directory
      - ./sites/:/sites/
      # expose apache2 and php config to host
      - ./docker/etc/:/docker/etc/
      # expose logs to host
      #- ./docker/log/:/var/log/
